{% extends "base.html"%}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Anuncie o seu produto</h1>
    <!-- Display form errors -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% for form in formset %}
                {{ form.as_p }}
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- Client Creation Form -->
    <!-- Não testado!!-->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}  <!-- Include the management form -->
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Save Product</button>
    </form>
</div>
{% endblock %}