{% extends "base.html" %}

{% load static %}  

{% block head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div id="nav-content-block-criar_login">
    <div class="container-criar_login">
        <div class="button1-criar_login">
            <h3>Escolha a conta que deseja criar?</h3>
            <a href="{% url 'novoLojista' %}" class="button">Criar Novo Lojista</a>
            <a href="{% url 'novoCliente' %}" class="button">Criar Novo Cliente</a>
        </div>
        <div class="button2-criar_login">
            <h3>Já és lojista?</h3>
            <a href="{% url 'lojista_login' %}" class="button-2">Fazer Login Lojista</a>
            <h3>Já és cliente?</h3>
            <a href="{% url 'cliente_login' %}" class="button-2">Fazer Login Cliente</a>
        </div>
    </div>
</div>
{% endblock %}
