{% extends "base.html"%}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Criar uma conta de Cliente</h1>
    <!-- Display form errors -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- Client Creation Form -->
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary">Criar Conta</button>
    </form>
</div>
{% endblock %}