.dashboard-container {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

section {
    margin: 1rem;
    padding: 1rem;
}

.produtos-favoritos {
    background-color: #B6CDCC;
}

.button-logout {
    background-color: red;  
    color: white;  
    padding: 12px 20px;  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    font-size: 16px; 
    transition: background-color 0.3s ease;  
    text-align: center;
    cursor: pointer;
    border-bottom: 1rem;
}

button .alterar-dados-pessoais {
    background-color: #fff;
    padding: 10px 15px;  
    border: black;  
    border-radius: 8px;
    cursor: pointer;  
}

form .form-dados-pessoais {
    padding: 1rem;
}


